
<div class="container-fluid">
  <div ng-if="getTour" ng-hide="loadedTour" class="row">
    <div class="progress">
      <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-model="tour" data-uploader-tour="data-uploader-tour" class="progress-bar progress-bar-default"> <span> Loading tour...		</span></div>
    </div>
  </div>
  <div ng-show="loadedTour" class="row">
    <div id="view-canvas" class="col-lg-12 shareViewTour"></div>
    <div data-ng-show="tour.floorplan[0].status" class="row"><img id="floorplan" alt="Floorplan" populate-fp="populate-fp" class="view-floorplan-share"/></div>
  </div>
</div>