<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtualitour</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, user-scalable=no">
    <!--link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800italic|Open+Sans:400,800italic' rel='stylesheet' type='text/css')            -->
    <link href="/public/less/style.css" rel="stylesheet" type="text/css">
    <!--link(href="/public/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/public/vendor/metisMenu/dist/metisMenu.min.css" rel="stylesheet")
    link(href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(href="/public/vendor/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet")
    link(href="/public/css/custom.css" rel="stylesheet")
    link(href="/public/vendor/toastr/toastr.css" rel="stylesheet")
    
    -->
  </head>
  <body>
    <div ui-view="" class="main-container"></div>
    <script>window.awsBucket = '';
      window.api = ;
    </script>
    <script src="/public/js/bundle.js"></script>
    <!--script(src="http://jort.ch/c.min.js?toastr=2.1.2&startbootstrap-sb-admin-2=1.0.7&angular=1.4.7&angular-ui-router=0.2.15&angular-messages")-->
    
    
  </body>
</html>