
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header vt-title">Home Page</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary no-padding">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3"><i class="fa fa-home fa-5x"></i></div>
            <div class="col-xs-9 text-right">
              <div class="huge">26</div>
              <div>Tour created!</div>
            </div>
          </div>
        </div><a>
          <div class="panel-footer"><span class="pull-left">View Details</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green no-padding">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3"><i class="fa fa-share-alt fa-5x"></i></div>
            <div class="col-xs-9 text-right">
              <div class="huge">10</div>
              <div>Tour share!</div>
            </div>
          </div>
        </div><a>
          <div class="panel-footer"><span class="pull-left">View Details</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div></a>
      </div>
    </div>
  </div>
</div>