.profile-img {
  max-width: 100%;
  height: auto;
}
.upload-progress-user {
  position: relative;
  padding-top: 5px;
  width: 90%;
  left: 15px;
}
.upload-progress-user .progress-box-user {
  height: 20px;
  padding: 0;
}
.upload-progress-user .progress-box-user .progress-bar-user {
  background-color: #0000f6;
  height: 100%;
}
.pos-abs-top-right-user {
  position: relative;
  top: 30px;
  left: 240px;
  z-index: 999;
  width: 30px;
}
